body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #668ba4;
}

h1 {
  color: #668ba4;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

small {
  color: rgb(33, 33, 33);
}

.weather-app-wrapper {
  max-width: 600 px;
  margin: 30px auto;
}
.weather-app {
  background: #feffdf;
  padding: 20px;
  border: 1px solid rgb(33, 33, 33);
  border-radius: 5px;
}

.form-control {
  background: #dde0ab;
  color: #668ba4;
  border: 1px solid #668ba4;
}

.btn {
  color: aliceblue;
  background: #668ba4;
  border: 1px solid #668ba4;
  transition: all 150ms ease-in-out;
}

.btn:hover {
  color: #668ba4;
  background: aliceblue;
  border: 1px solid #668ba4;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #668ba4;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: #668ba4;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.forecast-date {
  font-size: 16px;
  color: rgb(135, 135, 135);
  font-weight: 500;
}
.forecast-temperature-min {
  color: rgb(135, 135, 135);
  opacity: 0.6;
}

.forecast-temperature {
  font-size: 13px;
  color: rgb(135, 135, 135);
}
.sourceCode {
  color: aliceblue;
}

.sourceCode:hover {
  color: darkblue;
}
